/* ==============================================
   WEATHER WIDGET COMPONENT STYLES
   ============================================== */

.weather-text {
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--text-color);
  height: 55px;
  margin-left: 32px;
  margin-right: 32px;
}

.weather-load {
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--text-color);
  height: 55px;
  margin-left: 32px;
  margin-right: 32px;
}
